<% @title="Login" %>

<div class="form-page">

  <header>
    <h2>Log in</h2>
  </header>

  <%= form_for(:session, url: login_path) do |f| %>
    <fieldset>

      <div class="relative field">
       <%= f.label :email %>
        <%= f.email_field :email, :placeholder => 'Email', :class => "icond", :autofocus => true %>
        <svg class="user-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.4 10.3"><path d="M7.6,10.3H1.8C0.7,10.3,0,9.6,0,8.6C0,7,0.4,4.7,2.3,4.7c0.2,0,1.1,0.9,2.4,0.9s2.2-0.9,2.4-0.9c2,0,2.3,2.3,2.3,3.8C9.4,9.6,8.7,10.3,7.6,10.3z M4.7,5.1C3.3,5.1,2.1,4,2.1,2.6S3.3,0,4.7,0s2.6,1.2,2.6,2.6S6.1,5.1,4.7,5.1z"/></svg>
      </div>

      <div class="relative field">
        <%= f.label :password %>
        <%= f.password_field :password, :placeholder => 'Password', :class => "icond" %>
        <svg class="password-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.7 9.4"><path d="M7.7,8.8c0,0.4-0.3,0.6-0.6,0.6H0.6C0.3,9.4,0,9.1,0,8.8V4.9c0-0.4,0.3-0.6,0.6-0.6h0.2V3c0-1.6,1.4-3,3-3s3,1.4,3,3v1.3h0.2c0.4,0,0.6,0.3,0.6,0.6V8.8z M5.6,4.3V3c0-0.9-0.8-1.7-1.7-1.7S2.1,2.1,2.1,3v1.3H5.6z"/></svg>
      </div>

      <%= f.label :remember_me, :class => "remember-me field" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      
      <div class="field">
        <%= f.submit "Log in", :class => 'blue-button' %>
      </div>

      <div class="form-foot-links">
        <p><%= link_to "Sign up now!", signup_path %></p>
        <p><%= link_to "Forgot Password?", password_resets_new_path %></p>
      </div>
      
    </fieldset>
  <% end %>
</div>