<div id="formPage" class="boxPadding">
  <header>
    <h2>Reset Password</h2>
    <p>Fill out the form below to complete your password reset.</p>
  </header>

  <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    <fieldset>
      <%= hidden_field_tag :email, @user.email %>
      <%= f.label :password %>
      <%= f.password_field :password, :placeholder => "New Password" %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
      <%= f.submit "Submit", :class => "greenButton" %>
    </fieldset>
  <% end %>
