<% @title="Forgot your password?" %>

<div class="form-page">

  <header>
    <h2>Forgot your password?</h2>
  </header>

  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    
    <fieldset>
      <div class="relative field">
       <%= f.label :email %>
        <%= f.email_field :email, :placeholder => 'Email', :class => "icond" %>
        <svg class="user-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.4 10.3"><path d="M7.6,10.3H1.8C0.7,10.3,0,9.6,0,8.6C0,7,0.4,4.7,2.3,4.7c0.2,0,1.1,0.9,2.4,0.9s2.2-0.9,2.4-0.9c2,0,2.3,2.3,2.3,3.8C9.4,9.6,8.7,10.3,7.6,10.3z M4.7,5.1C3.3,5.1,2.1,4,2.1,2.6S3.3,0,4.7,0s2.6,1.2,2.6,2.6S6.1,5.1,4.7,5.1z"/></svg>
      </div>

      <div class="field">
        <%= f.submit "Submit", :class => "blue-button" %>
      </div>
    </fieldset>

  <% end %>

  <div class="form-foot-links">
    <p><%= link_to "Sign up now!", signup_path %></p>
    <p><%= link_to "Login", login_path %></p>
  </div>

</div>




