<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Sitechop Activate Account</title>
  <style>
    body {font-family: helvetica, arial, sans-serif;}
    body, table, td, tr, h1, h2, h3, h4, h5, h6, p, li, a, ul {margin:0;padding:0;}
    img{border:0 none;height:auto;line-height:100%;outline:none;text-decoration:none;}
    a {text-decoration: none;}
    a img{border:0 none;}
    table, td{border-collapse:collapse;}
  </style>
</head>

<body bgcolor="#eeeeee">

  <table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">

    <tr>
      <td style="padding-top: 40px; padding-bottom: 30px;" align="center" bgcolor="#eeeeee">
        <h1>
          <a href="http://sitechop.com">
            <img src="http://sitechop.com/images/email/sitechop.jpg" width=200 height=47 alt="Sitechop" /> 
          </a>
        </h1>
      </td>
    </tr>

    <tr>
      <td align="center" bgcolor="#eeeeee">
        <table bgcolor="#ffffff" width="600" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" style="padding-left: 40px; padding-right: 40px; padding-top: 40px; padding-bottom: 20px;">
              <h2 style="font-family: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-weight:300; font-stretch:normal; color: #29292c; font-size: 24px; font-weight: normal; line-height: 1.4;">Thanks for joining Sitechop <%= @user.name %>! To activate your account please click the button below!</h2>
            </td>
          </tr>

          <tr>
            <td align="center" style="padding-bottom: 40px; border-bottom: 1px solid #eeeeee;">
              <table bgcolor="#249ce0" height="40" width="150" border="0" cellpadding="0" cellspacing="0">
                <tr >
                  <td height="40" width="150" align="center">
                    <%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email),  {:style=>'font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif; font-weight:500; font-stretch:normal; color: white; display: block; font-size: 14px;', :width=>'150', :height=>'40'} %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td align="center" style="padding: 40px;">
              <h2 style="font-family: 'HelveticaNeueMedium', 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-weight:500; font-stretch:normal; color: #29292c; font-size: 22px;">Member Benefits</h2>
            </td>
          </tr>
        </table>


        <table bgcolor="#ffffff" width="600" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" style="padding-bottom: 40px; border-bottom: 1px solid #eeeeee;">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding-left: 20px;" valign="top">
                    <img width=260 height=130 src="http://sitechop.com/images/email/downloads.jpg" alt="Resources" />
                  </td>
                  <td width="280" style="padding-right: 20px; padding-left: 20px;" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="left">
                          <h2 style="font-family: 'HelveticaNeueMedium', 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-weight:500; font-stretch:normal; color: #29292c; font-size: 17px; padding-bottom: 10px;">Resources</h2>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-bottom: 20px;" align="left">
                          <p style="font-family: 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueRoman', 'HelveticaNeue-Roman', 'Helvetica Neue Roman', 'Helvetica', 'Arial', sans-serif; font-weight:400; font-stretch:normal; color: #666666; font-size: 13px; line-height: 1.6;">Browse our library of web designer and developer resources. All resources are completely free and exclusive to Sitechop and it's members.</p>
                        </td>
                      </tr>
                      <tr>
                        <td align="left">
                          <a height="30" width="150" style="font-family: 'HelveticaNeueMedium', 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-weight:500; font-stretch:normal; color: #249ce0; font-size: 13px; display: block;" href="http://sitechop.com/resources">Browse Resources</a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td align="center" style="padding-bottom: 40px; padding-top: 40px; border-bottom: 1px solid #eeeeee;">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding-left: 20px;" valign="top">
                    <img width=260 height=130 src="http://sitechop.com/images/email/source.jpg" alt="Source Files" />
                  </td>
                  <td width="280" style="padding-right: 20px; padding-left: 20px;" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="left">
                          <h2 style="font-family: 'HelveticaNeueMedium', 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-weight:500; font-stretch:normal; color: #29292c; font-size: 16px; padding-bottom: 10px;">Source Files</h2>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-bottom: 20px;" align="left">
                          <p style="font-family: 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueRoman', 'HelveticaNeue-Roman', 'Helvetica Neue Roman', 'Helvetica', 'Arial', sans-serif; font-weight:400; font-stretch:normal; color: #666666; font-size: 13px; line-height: 1.6;">Enjoy the complimentary source files available to download with every Sitechop tutorial!</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a height="30" width="150" style="font-family: 'HelveticaNeueMedium', 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-weight:500; font-stretch:normal; color: #249ce0; font-size: 13px; display: block;" href="http://sitechop.com" align="left">Browse Tutorials</a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>


          <tr>
            <td style="border-top: 1px solid #f5f3f4; padding-top: 37px; padding-bottom: 37px;" align="center">
              <table  align="center" style="width:160px">
                <tr>
                  <td><a href="https://www.facebook.com/sitechop"><img width=40 height=40 src="http://sitechop.com/images/email/facebook.jpg" alt="facebook" /></a></td>
                  <td><a href="https://twitter.com/itsrobbyk"><img width=40 height=40 src="http://sitechop.com/images/email/twitter.jpg" alt="twitter" /></a></td>
                  <td><a href="http://codepen.io/sitechop/"><img width=40 height=40 src="http://sitechop.com/images/email/codepen.jpg" alt="codepen" /></a></td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding-top: 20px; padding-bottom: 40px;" bgcolor="#eeeeee" align="center">
              <p style="font-family: 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueRoman', 'HelveticaNeue-Roman', 'Helvetica Neue Roman', 'Helvetica', 'Arial', sans-serif; font-weight:400; font-stretch:normal; font-size: 12px; color: #cccccc;">Thanks for reading!</p>
            </td>
          </tr>

        </table>
      </td>
    </tr>

  </table>

</body>
</html>