<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Sitechop Activate Account</title>
  <style>
    body {font-family: helvetica, arial, sans-serif;}
    body, table, td, tr, h1, h2, h3, h4, h5, h6, p, li, a, ul {margin:0;padding:0;}
    img{border:0 none;height:auto;line-height:100%;outline:none;text-decoration:none;}
    a {text-decoration: none;}
    a img{border:0 none;}
    table, td{border-collapse:collapse;}
  </style>
</head>

<body bgcolor="#eeeeee">

  <table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">

    <tr>
      <td style="padding-top: 40px; padding-bottom: 30px;" align="center" bgcolor="#eeeeee">
        <h1>
          <a href="http://sitechop.com">
            <img src="http://sitechop.com/images/email/sitechop.jpg" width=200 height=47 alt="Sitechop" /> 
          </a>
        </h1>
      </td>
    </tr>

    <tr>
      <td align="center" bgcolor="#eeeeee">
        <table bgcolor="#ffffff" width="600" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" style="padding-left: 40px; padding-right: 40px; padding-top: 40px; padding-bottom: 20px;">
              <h2 style="font-family: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; font-weight:300; font-stretch:normal; color: #29292c; font-size: 24px; font-weight: normal; line-height: 1.4;">Hi <%= @user.name %>, Click the button below to reset your Sitechop account password.</h2>
            </td>
          </tr>

          <tr>
            <td align="center" style="padding-bottom: 40px;">
              <table bgcolor="#249ce0" height="40" width="150" border="0" cellpadding="0" cellspacing="0">
                <tr >
                  <td height="40" width="150" align="center">
                    <%= link_to "Reset Password", edit_password_reset_url(@user.reset_token, email: @user.email),  {:style=>'font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif; font-weight:500; font-stretch:normal; color: white; display: block; font-size: 14px;', :width=>'150', :height=>'40'} %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
          <tr>
            <td style="padding-top: 20px; padding-bottom: 40px;" bgcolor="#eeeeee" align="center">
              <p style="font-family: 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueRoman', 'HelveticaNeue-Roman', 'Helvetica Neue Roman', 'Helvetica', 'Arial', sans-serif; font-weight:400; font-stretch:normal; font-size: 12px; color: #cccccc;">Thanks for reading Sitechop!</p>
            </td>
          </tr>
      </td>
    </tr>

  </table>

</body>
</html>