<fieldset>
  <%= form_for(@user) do |f| %>
    
    <div class="relative field">
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => 'Username', :class => 'icond' %>
      <svg class="name-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.3 10.3"><path d="M5.1,10.3C2.3,10.3,0,8,0,5.1S2.3,0,5.1,0s5.1,2.3,5.1,5.1S8,10.3,5.1,10.3z M5.1,0.9c-2.4,0-4.3,1.9-4.3,4.3s1.9,4.3,4.3,4.3s4.3-1.9,4.3-4.3S7.5,0.9,5.1,0.9z M3.4,4.3C3,4.3,2.6,3.9,2.6,3.4S3,2.6,3.4,2.6S4.3,3,4.3,3.4S3.9,4.3,3.4,4.3z M5.1,8.1C4,8.1,3,7.4,2.7,6.3C2.6,6.1,2.7,5.9,3,5.8c0.2-0.1,0.5,0.1,0.5,0.3c0.2,0.7,0.9,1.2,1.6,1.2s1.4-0.5,1.6-1.2c0.1-0.2,0.3-0.4,0.5-0.3c0.2,0.1,0.3,0.3,0.3,0.5C7.3,7.4,6.3,8.1,5.1,8.1z M6.9,4.3C6.4,4.3,6,3.9,6,3.4s0.4-0.9,0.9-0.9S7.7,3,7.7,3.4S7.3,4.3,6.9,4.3z"/></svg>
    </div>
    
    <div class="relative field">
      <%= f.label :email %>
      <%= f.email_field :email, :placeholder => 'Email', :class => "icond" %>
      <svg class="user-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.4 10.3"><path d="M7.6,10.3H1.8C0.7,10.3,0,9.6,0,8.6C0,7,0.4,4.7,2.3,4.7c0.2,0,1.1,0.9,2.4,0.9s2.2-0.9,2.4-0.9c2,0,2.3,2.3,2.3,3.8C9.4,9.6,8.7,10.3,7.6,10.3z M4.7,5.1C3.3,5.1,2.1,4,2.1,2.6S3.3,0,4.7,0s2.6,1.2,2.6,2.6S6.1,5.1,4.7,5.1z"/></svg>
    </div>

    <div class="relative field">
      <%= f.label :password %>
      <%= f.password_field :password, :placeholder => 'Password', :class => "icond" %>
      <svg class="password-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.7 9.4"><path d="M7.7,8.8c0,0.4-0.3,0.6-0.6,0.6H0.6C0.3,9.4,0,9.1,0,8.8V4.9c0-0.4,0.3-0.6,0.6-0.6h0.2V3c0-1.6,1.4-3,3-3s3,1.4,3,3v1.3h0.2c0.4,0,0.6,0.3,0.6,0.6V8.8z M5.6,4.3V3c0-0.9-0.8-1.7-1.7-1.7S2.1,2.1,2.1,3v1.3H5.6z"/></svg>
    </div>

    <div class="relative field">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation', :class => "icond" %>
      <svg class="password-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.7 9.4"><path d="M7.7,8.8c0,0.4-0.3,0.6-0.6,0.6H0.6C0.3,9.4,0,9.1,0,8.8V4.9c0-0.4,0.3-0.6,0.6-0.6h0.2V3c0-1.6,1.4-3,3-3s3,1.4,3,3v1.3h0.2c0.4,0,0.6,0.3,0.6,0.6V8.8z M5.6,4.3V3c0-0.9-0.8-1.7-1.7-1.7S2.1,2.1,2.1,3v1.3H5.6z"/></svg>
    </div>

    <div class="field">
      <%= f.submit "Create my account", :class => "blue-button" %>
    </div>

  <% end %>
</fieldset>




