<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
    <% if current_user.admin? && current_user?(user) %>
      <a>
        <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
      </a>
    <% end %>
  <% end %>
</ul>
