<% @title="Signup" %>

<div class="form-page">

 <% if @user.errors.any? %>
      <ul id="errors">
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>

  <header>
    <h2>Signup for Sitechop</h2>
  </header>
  <%= render 'form' %>
  <div class="form-foot-links">
    <p><%= link_to 'Log in', login_path %></p>
    <p><%= link_to "Forgot Password?", password_resets_new_path %></p>
  </div>
</div>