@import url(http://fonts.googleapis.com/css?family=Roboto:900|Roboto+Slab);

#penFoot {
  background-color: white;
  border-top: 20px solid #eee;
  padding: 50px 0;
  margin-top: 50px;
  line-height: 1.6;
  font-family: 'Roboto Slab', serif;
}

#penFoot a {
  text-decoration: none;
}

#penFoot img {
  width: 100%;
  margin-bottom: 10px;
}

#penFoot h2, #penFoot p {
  padding: 0 15px;
}

#penFoot h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-bottom: 10px;
}

#penFoot a h2 {
  color: #29292c;
}

#penFoot a:hover h2 {
  color: #157ebf;
}

#penFoot a p {
  color: #555;
}

#penFoot a:hover p {
  color: #29292c;
}

#penWrapper {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}

#penWrapper h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-weight: '900';
  color: #29292c;
}

.penPost0, .penPost1 {
  text-decoration: none;
  width: 50%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  float: left;
}

.penPost0 {
  padding-right: 15px;
}

.penPost1 {
  padding-left: 15px;
}

@media only screen and (max-width: 800px) {
  .penPost0, .penPost1 {
    width: 100%;
    max-width: 400px;
    float: none;
    margin: 0 auto 0 auto;
  }

  .penPost0 {
    padding-right: 0;
    margin-bottom: 50px;
  }

  .penPost1 {
    padding-left: 0;
  }
}
