<%= form_for @resource, :html => { :multipart => true } do |f| %>
  <fieldset id="adminPage">
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :file %>
    <%= f.file_field :file %>

    <%= f.label :image %>
    <%= f.file_field :image %>

    <%= f.submit 'Submit' %>
  </fieldset>
<% end %>
