<% @title="Free Web Design and Development Resources" %>

<div id="indexPage">
  <div class="width">
  <% @resources.each do |resource| -%>
    <article class="resource">
      <%= image_tag(resource.image.url) %>
      <h2><%= resource.title %></h2>
      <span><%= l(resource.created_at, :format => :clean) %></span>
      
      <% if logged_in? %>
        <%= link_to "Download", resource.file.url, :class => "blueButton" %>
      <% else %>
        <%= link_to "Download", login_path, :class => "blueButton" %>
      <% end %>
    
    </article>
    
    <div class="rowFix"></div>
  
  <% end %>
  </div>
</div>