<%= form_for @post, :html => { :multipart => true } do |f| %>
  <fieldset id="adminPage">
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :markdown %>
    <%= f.text_area :markdown %>

        <%= f.label :html %>
    <%= f.text_area :html %>

    <%= f.label :codepen %>
    <%= f.text_field :codepen %>

    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :tag_list %>

    <%= f.label :source %>
    <%= f.file_field :source %>

    <%= f.label :image %>
    <%= f.file_field :image %>

    <%= f.label :category_id, "Category" %>
    <%= f.collection_select :category_id, Category.all, :id, :title, prompt: "Select a category" %>

    <%= f.submit 'Submit' %>

    </fieldset>
<% end %>