<div class="comment-section">
  <% if logged_in? %>

  <h3>Join the discussion</h3>

  <%= form_for [@post, @comment], :html => { :multipart => true } do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit 'Submit', :class => "comment-button", :id => "comment-submit" %>
  <% end %>

  <% else %>

    <div class="comment-login">
      <h3>Login to comment</h3>
      <p>Please login to your Sitechop account to join the discussion</p>
      <%= link_to 'Login', login_path, :class => 'solid-button' %>
      <%= link_to 'Signup', signup_path, :class => 'solid-button' %>
    </div>

  <% end %>
</div>

<% if @comments.present? %>
<div class="comment-list">

  <% @comments.each do |comment| %>

  <div class="comment cf">
    <div class="comment-avatar">
      <%= image_tag avatar_url(comment.user) %>
    </div>
    <div class="comment-comment">
      <h3><%= comment.user.name %></h3>
      <span>Published on <%= l(comment.created_at, :format => :clean) %></span>
      <p><%= comment.comment %></p>
    </div>
  </div>

  <% end %>


</div>
<% end %>