<div class="similar-posts">
  <div class="width">
    <h3>Similar Posts</h3>

    <% @similar.each_slice(2) do |slice| -%>
      <div class="similar-row cf">

        <% slice.each do |similar| -%>
          <a href="<%= similar.url %>" class="similar">
            <h4><%= similar.title %></h4>
            <%= image_tag(similar.image.url) %>
          </a>
        <% end -%>
        
      </div>
    <% end -%>


  </div>
</div>