{<% @posts.each_with_index do |post, i| %>"<%= i %>": {
  "title": <%= post.title.to_json.html_safe %>,
  "excerpt": <%= post.excerpt.to_json.html_safe %>,
  "url": <%= post.url.to_json.html_safe %>,
  "image": <%= post.image.url.to_json.html_safe %>
}
<% if i < 1 %>,<% end %>
<% end %>}