<% @title="Web Design and Development Blog" %>

<div class="main">
  <div class="width">

    <% @posts.each do |post| -%>

      <article class="index-post">
        <%= image_tag(post.image.url, :class => "index-post-image") %>
        <h2><%= post.title %></h2>
        <p><span>Published on</span> <%= l(post.created_at, :format => :clean) %></p>
      </article>

      <div class="rowfix"></div>

    <% end %>

  </div>
</div>

<%= paginate @posts %>