<% @title=@post.title %>

        <div class="main-column">

<div class="post-show">
    <div class="show-image" style="background-image: url('<%= @post.image.url %>');"></div>

  <header>
    <h2><%= @post.title %></h2>
    <p><%= @post.excerpt %></p>
  </header>
    <%= @post.html.html_safe %>

    <ul class="downloads-bottom cf">

      <% unless !@post.source.present? %>
        <li class="slide-button">
          <a class="download-source" <% if logged_in? %>href="<%= @post.source.url %>"> <% else %> href="/login"><% end %>
            <div class="share-icon source-icon">
              <svg width="20px" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M22,14.4c0,0.3-0.2,0.6-0.4,0.8l-10.1,6.7C11.4,22,11.2,22,11,22s-0.4-0.1-0.5-0.2L0.4,15.1C0.2,15,0,14.7,0,14.4V7.7C0,7.3,0.2,7,0.4,6.9l10.1-6.7C10.6,0.1,10.8,0,11,0s0.4,0.1,0.5,0.2l10.1,6.7C21.9,7,22,7.3,22,7.7V14.4z M4.3,11L1.9,9.4v3.2L4.3,11z M10.1,7.1V2.7L2.7,7.7L6,9.9L10.1,7.1z M10.1,19.3v-4.4L6,12.1l-3.3,2.2L10.1,19.3z M14.3,11L11,8.8L7.7,11l3.3,2.2L14.3,11z M19.4,7.7L12,2.7v4.4l4.1,2.7L19.4,7.7z M19.4,14.4l-3.3-2.2L12,14.9v4.4L19.4,14.4z M20.1,12.6V9.4L17.7,11L20.1,12.6z"/></svg>
            </div>
            <span>Download Source</span>
          </a>
        </li>
      <% end %>

      <% unless !@post.codepen.present? %>
        <li class="slide-button">
          <a class="codepen-demo" href="<%= @post.codepen_url %>">
            <div class="share-icon codepen-icon">
              <svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.5 19.9" width="20px"><path d="M7.6,17.1c-0.2,0.2-0.5,0.2-0.7,0l-6.8-6.8C0,10.1,0,9.8,0.1,9.6l6.8-6.8c0.2-0.2,0.5-0.2,0.7,0l0.7,0.7c0.2,0.2,0.2,0.5,0,0.7L2.6,10l5.7,5.7c0.2,0.2,0.2,0.5,0,0.7L7.6,17.1z M11.5,19.6c-0.1,0.2-0.3,0.4-0.6,0.3L10,19.7c-0.2-0.1-0.4-0.3-0.3-0.6l5.4-18.7c0.1-0.2,0.3-0.4,0.6-0.3l0.9,0.2c0.2,0.1,0.4,0.3,0.3,0.6L11.5,19.6z M19.6,17.1c-0.2,0.2-0.5,0.2-0.7,0l-0.7-0.7c-0.2-0.2-0.2-0.5,0-0.7L24,10l-5.7-5.7c-0.2-0.2-0.2-0.5,0-0.7L19,2.9c0.2-0.2,0.5-0.2,0.7,0l6.8,6.8c0.2,0.2,0.2,0.5,0,0.7L19.6,17.1z"/></svg>
            </div>
            <span>Codepen Demo</span>
          </a>
        </li>
      <% end %>

    </ul>


</div>

<%= render 'more_posts' %>

</div>

