<p>Shopify is a great e-commerse platform, built on top of the ruby on rails architecture. It allows it’s users to create beautiful web stores, and isn’t overly complicated like some of it’s counter-parts. Being so simple, you sometimes have to get creative when adding new features that aren’t supported by default. Today we will be implementing <em>suggestive up-selling</em> to our shopify store.  </p>

<h3>What’s suggestive up-selling? </h3>

<p>There is probably a better term for this, but the idea is that our store will offer to add an additional product in-between cart and checkout. This behavior should only take place if the user’s cart does not already contain the item to be suggested.</p>

<img width="695px" src="http://sitechop.com/images/posts/suggestive-shopify/suggestive.jpg" alt="shopify suggestive selling" />

<h3>So how is it done?</h3>

<p>If you’re familiar with shopify theming, you’ll know that Shopify uses the liquid templating engine. <a href="https://github.com/Shopify/liquid/wiki">Liquid</a> is a super easy to learn and give us access to a lot of basic programming functions. For this specific feature we will be using <code>if</code> statements, <code>for</code> loops, variables, and an <code>unless</code> statement.</p>

<p>For the sake of example, I will be adding this feature to launch-star theme that all new shopify stores come with by default. My store has two products, apples and oranges. To start head over to the “edit html/css” section in the admin control panel (online store > themes > … > Edit HTML/CSS).</p>

<img width="564px" src="http://sitechop.com/images/posts/suggestive-shopify/edit-html-css.jpg" alt="shopify edit html/css" />

<h4>Step 1: Checking for item presence  </h4>

<p>So the first step we need to take is checking whether the user’s cart contains the item we want to up-sell. Start buy opening your cart template page (templates/cart.liquid).</p>

<img src="/images/posts/suggestive-shopify/cart.jpg" alt="shopify cart template" />

<p>Looking through the [shopify documentation](https://docs.shopify.com/themes/liquid-documentation/objects/cart#cart-items), we see we have a method called <code>cart.items</code> which returns an array of objects in the users cart. Let’s combine this with a <code>for</code> loop, allowing us to loop though each object returned in the array. Place this code at the top of your cart template file.  </p>

<pre><code>{% for item in cart.items %}
{% endfor %}</code></pre>

<p>Next we need to grab the objects title. Browsing the <a href="https://docs.shopify.com/themes/liquid-documentation/objects/product#product-title">shopify docs</a> once again, we realize this can easily be accessed through <code>item.product.title</code>. Using this, we will compare the title to the item we want to suggest in an <code>if</code> statement. This will allow us to run code only if the loop finds a match.</p>

<pre><code>{% for item in cart.items %}
  {% if item.product.title == "Oranges" %}
  {% endif %}
{% endfor %}</code></pre>

<p>Next we need to add a variable inside the <code>if</code> statement. We will call this <code>noupsell</code> and set it to <code>true</code>. This variable will only exist if the loop finds a match, and we will alter other parts of the page according to this variable. We create variables in liquid using the <code>assign</code> keyword.</p>

<pre><code>{% for item in cart.items %}
  {% if item.product.title === "apples" %}
    {% assign noupsell = true %} 
    {% break %}
  {% endif %}
{% endfor %}</code></pre>

<p>Also note that we break the loop if we have a hit. There’s no point continuing through the products if we find the item we’re looking for. This is done using <code>{% break %}</code> as you might have guessed.</p>

<h4>Step 2: A fake checkout button</h4>

<p>Now that we have a variable called <code>noupsell</code> available to us, we can use it wherever we want on the page. In our case we will be using it around the checkout button. If <code>noupsell</code> exists we’ll direct the user to checkout as usual, but if <code>noupsell</code> doesn’t exist, we’ll direct the user to a product page where they have a chance to add oranges. We do this using another <code>if-else</code> statement.</p>

<p>Scroll through the cart.liquid template file until you find the checkout button. Mine looks like this: </p>

<pre><code>&lt;input type=&quot;submit&quot; id=&quot;checkout&quot; class=&quot;btn&quot; name=&#x201c;checkout&quot; value=&quot;{{ 'cart.general.checkout' | t }}&quot; /&gt;</code></pre>


<p>Now we’ll place this inside an <code>if-else</code> statement. If <code>noupsell</code> is <code>true</code> we’ll serve the user the default checkout button. If <code>noupsell</code> is <code>undefined</code>, we’ll serve an identical styled button that links to our up-sell product page.</p>

<pre><code>&lt;div class=&quot;buttons clearfix&#x201d;&gt;

  {% if noupsell %}
    &lt;input type=&quot;submit&quot; id=&quot;checkout&quot; class=&quot;btn&quot; name=&quot;checkout&quot; value=&quot;{{ 'cart.general.checkout' | t }}&quot; /&gt;
  {% else %}
    &lt;a class=&#x201c;btn&quot; href=&#x201c;/products/add-oranges&#x201d;&gt;Checkout&lt;/a&gt;
  {% endif %}

  &lt;input type=&quot;submit&quot; id=&quot;update-cart&quot; class=&quot;btn&quot; name=&quot;update&quot; value=&quot;{{ 'cart.general.update' | t }}&quot; /&gt;
&lt;/div&gt;</code></pre>

<p>There it is, now we have a custom cart page that checks for a product and directs the checkout button accordingly.</p>

<h4>Step 3: The upsell product</h4>

<p>So now our cart takes us to <code>/products/add-oranges</code> if the user does not have oranges in their cart. Now we need to create a product called Add Oranges. Create a new product as usual, now the up-sell button actually takes us somewhere valid.</p>

<img width="678px" src="/images/posts/suggestive-shopify/add-oranges.jpg" alt="shopify add product" />

  <p>Problem is, our add oranges product shows up on the home page. We need to make this hidden. To do so open your collection.liquid template file.</p>

<img width="676px" src="/images/posts/suggestive-shopify/collection.jpg" alt="shopify collection template" />

<p>Scroll down and find the product loop section. It looks like this:  </p>

<pre><code>&lt;div class=&quot;row products&quot;&gt;
  {% for product in collection.products %}
    {% include 'product-loop' with collection.handle %}
  {% endfor %}
&lt;/div&gt;&#x2028;</code></pre>

 <p>Using an <code>unless</code> statement we can have the loop skip the product if it’s titled “Add Oranges”, which is the name of our up-sell product. </p>

<pre><code>&lt;div class=&quot;row products&quot;&gt;
  {% for product in collection.products %}

    {% unless product.title == 'Add Oranges' %}
      {% include 'product-loop' with collection.handle %}
    {% endunless %}

  {% endfor %}
&lt;/div&gt;</code></pre>
  
<p>There we go, now we have this secret add oranges product page that we redirect users to if they don’t have oranges in their carts already.</p>

<img width="782px" src="/images/posts/suggestive-shopify/product-hidden.jpg" alt="shopify hidden product" />

<h4>Step 4: Custom Up-sell Template</h4>

<p>The last piece of the puzzle is customizing our up-sell product template. Right now we’re just using the default product template, but it disrupts the flow of checkout. Let’s create a new template in the control panel. Click the “Add new template” button just under the templates folder.</p>

<p>Set “create a new template for: product”, and “called: upsell”.</p>

<img width="622px" src="/images/posts/suggestive-shopify/add-template.jpg" alt="shopify add template" />

<p>You’ll notice that the newly created template just <code>includes</code> the <code>product.liquid</code> snippet. Go ahead and delete the include line.</p>

<p>Now open the product.liquid snippet. Copy and paste all the code you want into our newly created upsell template. All I really want is the title, price, description, and add to cart form. My code looks like this:</p>

<pre><code>&lt;div id=&quot;product&quot; class=&quot;{{ product.handle }}&quot;&gt;
  
  &lt;h1 class=&quot;title&quot;&gt;{{ product.title }}&lt;/h1&gt;
  {% assign variant = product.selected_or_first_available_variant %}
  &lt;h2 class=&quot;price&quot; id=&quot;price-preview&quot;&gt;{{ variant.price | money }}{% if variant.price &lt; variant.compare_at_price %} &lt;del&gt;{{ variant.compare_at_price | money }}&lt;/del&gt;{% endif %}&lt;/h2&gt;
 
  {{ product.description }}
      
     
  {% assign hide_default_title = false %}
  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
  {% assign hide_default_title = true %}
  {% endif %}
            
  &lt;form id=&quot;add-item-form&quot; action=&quot;/cart/add&quot; method=&quot;post&quot;&gt;
    &lt;input type=&quot;hidden&quot; name=&quot;return_to&quot; value=&quot;/checkout&quot; /&gt;

    &lt;div class=&quot;product-options {% if hide_default_title %}no-options {% endif %}&quot;&gt;
      &lt;div class=&quot;select clearfix&quot;{% if hide_default_title %} style=&quot;display:none&quot;{% endif %}&gt;
        &lt;select id=&quot;product-select&quot; name=&quot;id&quot;&gt;
          {% for variant in product.variants %}
          &lt;option value=&quot;{{ variant.id }}&quot;{% if variant == product.selected_or_first_available_variant %} selected=&quot;selected&quot; {% endif %}&gt;{{ variant.title }} - {{ variant.price | money }}&lt;/option&gt;
          {% endfor %}
        &lt;/select&gt;
      &lt;/div&gt;

      &lt;div class=&quot;purchase-section{% if product.variants.size &gt; 1 %} multiple{% endif %}&quot;&gt;
        &lt;div class=&quot;purchase&quot;&gt;
          {% unless product.available %}
          &lt;p&gt;{{ 'products.product.sold_out_html' | t }}&lt;/p&gt;
          {% else %}
          &lt;input type=&quot;submit&quot; class=&quot;btn&quot; name=&quot;add&quot; value=&quot;Yes Please&quot; /&gt;
          &lt;a class=&quot;btn&quot; href=&quot;/checkout&quot;&gt;No Thank You&lt;/a&gt;
          {% endunless %}
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  &lt;/form&gt;
  
&lt;/div&gt;</code></pre>

<p>There’s a bunch of extra code removed above. We made the form go straight to checkout by adding:</p>

<pre><code>&lt;input type=&quot;hidden&quot; name=&quot;return_to&quot; value=&quot;/checkout&quot; /&gt;</code></pre>

<p>and by removing the class <code>addtocart</code> from the submit button.</p>

<p>We also added a second button “No Thank You” that goes straight to checkout without adding add oranges to cart.</p>

<pre><code><a class="btn" href="/checkout">No Thank You</a></code></pre>
