<%= form_for @category, :html => { :multipart => true } do |f| %>
  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :permalink %>
    <%= f.text_field :permalink %>

    <%= f.label :image %>
    <%= f.file_field :image %>

    <%= f.submit 'Submit' %>
  </fieldset>
<% end %>