<% @title="Blog Categories" %>

<div id="indexPage" class="boxPadding">
  <div class="width">
  <% @categories.each do |category| %>
    <article class="category">
      <a href="<%= category.url %>">
        <%= image_tag(category.image.url) %>
        <h2><%= category.title %></h2>
      </a>
      <span><%= category.posts.count %> Posts</span>
    </article>
  <% end %>
  </div>
</div>