<% @title="#{@category.title} Blog Posts" %>

        <div class="main-column">

  <% @posts.each do |post| -%>

    <article class="post-index">

      <a href="<%= post.url %>">

        <div class="post-image" style="background-image: url('<%= post.image.url %>');">
          
        </div>

        <div class="post-text">
          <div class="vertical">
              <h2><%= post.title %></h2>
              <p><span>Published on</span> <%= l(post.created_at, :format => :clean) %></p>
          </div>
        </div>
      </a>
    </article>

  <% end %>
<%= paginate @posts %>

</div>

