<div class="billboard">
  <div class="width">

    <div class="billboard-text">
      <h2>Master The Web</h2>
      <p>Sitechop is a web design and development blog focused on HTML, CSS, JavaScript, Rails, Shopify, and much more. Signup for access to all sourcefiles and resources.</p>
      <a class="large-button blue-button">Signup for free!</a>
    </div>

  </div>
</div>