<footer class="master-footer">
  <div class="footer-top width cf">

    <div class="footer-box">
      <h2>Navigate</h2>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><a href="mailto:sitechop@gmail.com">Contact</a></li>

        <% if logged_in? %>
          <li><%= link_to("Log out", logout_path, method: "delete") %></li>
        
          <% unless !current_user.admin? %>
            <li><%= link_to "Admin", admin_path %></li>
          <% end %>

        <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to "Signup", signup_path %></li>
        <% end %>
      </ul>
    </div>

    <div class="footer-box">
      <h2>Categories</h2>
      <ul>
        <li><a href="/front-end">Front End Development</a></li>
        <li><a href="/rails">Rails</a></li>
        <li><a href="/ubuntu">Ubuntu</a></li>
        <li><a href="/windows">Windows</a></li>
        <li><a href="/general">General</a></li>
      </ul>
    </div>

    <div class="footer-box">
      <h2>Social</h2>
      <ul>
        <li><a href="http://twitter.com/sitechop">Twitter</a></li>
        <li><a href="https://facebook.com/sitechop">Facebook</a></li>
        <li><a href="/feed">RSS Feed</a></li>
      </ul>
    </div>

  </div>

</footer>