<header class="master-header">
  <div class="width">

    <h1>Sitechop</h1>

    <nav class="master-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Signup</a></li>
        <li><a href="#">RSS</a></li>
      </ul>

      <form id="search">
        <input type="text" placeholder="Search">
        <input type="submit" value="Search">
      </form>
    </nav>

    <a class="hamburger">Menu</a>

  </div>
</header>