<!DOCTYPE html>
<html>
  <head>
    <title><%= the_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:900' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
      <%= content_tag :p, value, class: "flash #{key}" %>
    <% end %>  

    <%= render 'layouts/billboard' %>


        <%= yield %>
    

   <% if params[:controller] == 'posts' && params[:action] == 'show' %>
       <%= render 'posts/similar' %>
    <% end %> 

        <%= render 'layouts/footer' %>


    </body>
</html>